.env
venv
/venv
proxies.txt
solana-15-updown.csv
solana-5-updown.csv
solana-60-updown.csv
solana-15-trades.csv
solana-5-trades.csv
solana-60-trades.csv
solana-15-opposite-trades.csv
solana-5-opposite-trades.csv
solana-60-opposite-trades.csv
solana-15-trades-late_80.csv
solana-*-flat-dual-trades.csv
solana-*-flat-dual-trades.csv.bak
solana-15-flat-dual-trades.csv.bak
solana-5-flat-dual-trades.csv.bak
solana-60-flat-dual-trades.csv.bak
solana-15-opposite-trades.csv.bak
solana-15-delta-side.*
__pycache__/
*.pyc
scratch/
price-socket.json
*.bak
