.env
venv
/venv
proxies.txt
solana-15-updown.csv
solana-5-updown.csv
solana-60-updown.csv
solana-15-trades.csv
solana-5-trades.csv
solana-60-trades.csv
solana-15-trades-late_80.csv
solana-5-trades-late_80.csv
solana-60-trades-late_80.csv
__pycache__/
*.pyc
